html {
    background: #088;
    font-family: msSans;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url(/sys/resources/cursors/arrow.cur), auto;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    cursor: url(../../../sys/resources/cursors/arrow.cur), auto;
}

.content {
    height: calc(100% - 43px);
    width: 100%;
    position: absolute;
}

.hotkey {
    border-bottom: 1px solid black;
}

img {
    image-rendering: pixelated;
}

textarea {
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    resize: none;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-family: msSans;
    font-size: 11px;

    cursor: url(/sys/resources/cursors/Cursor_12.cur), text;
}

spacer.fivePixels {
    margin-left: 5px;
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.taskbar {
    height: 40px;
    padding: 1px;
    width: 100%;
    border-top: 1px solid #FFF;
    outline: 1px solid #DFDFDF;
    background-color: #CCC;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
}

button.taskbarBtn {
    font-size: 20px;
    min-width: 0px;
    padding: 4px 4px;
    margin: 1px;
}

strong.size20 {
    font-weight: normal;
    text-shadow: 0.5px 0px black, 1.75px 0px black;
    color: transparent;
    letter-spacing: 1px;
}

img.taskbarIcon {
    width: 32px;
    height: 32px;
}

div.taskbarSpacer {
    width: 91.375%;
}

div.frame {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

button.appTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(4px, 18px);
    min-width: 72px;
    min-height: 64px;
}

button.longAppTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(4px, 18px);
    min-width: 100px;
    min-height: 64px;
}

button.largeAppTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(4px, 18px);
    min-width: 105px;
    min-height: 100px;
    max-width: 105px;
    max-height: 100px;
}

img.appIcon {
    min-width: 37px;
    min-height: 33px;
    max-width: 37px;
    max-height: 33px;
}

img.largeAppIcon {
    min-width: 54px;
    min-height: 48px;
    max-width: 54px;
    max-height: 48px;
}

.invisible {
    position: absolute;
    top: 10000px;
    right: 10000px;
}

.app {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    position: absolute;
    background: #CCC;
    padding: 2px;
    box-shadow: inset -1px -1px black, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.appScreen {
    padding: 3px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.actuallyInvisible {
    opacity: 0%;
}

.version {
    color: white;
    font-weight: normal;
    text-shadow: 0.5px 0px white, 1.3px 0px white, 4px 3px black, 3px 3px black;
    color: transparent;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 2px;
    float: right;
}

.error {
    color: red;
    font-weight: normal;
    text-shadow: 0.5px 0px red, 1.3px 0px red, 4px 3px black, 3px 3px black;
    color: transparent;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 2px;
}

.whiteText {
    color: white;
}

.appTitle {
    width: 100%;
    text-align: left;
}

.app-content {
    padding: 6px;
}