h1, h2, h3, h4, h5, h6, strong {
    font-weight: normal;
    text-shadow: 0.5px 0px black, 1.3px 0px black;
    color: transparent;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    margin-top: 5px;
}
