label {
    font-size: 11px;
}

label.engraved {
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px; 
    box-shadow: inset -1px -1px #fff, inset 1px 1px black, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    background: #CCC;
}